* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root {
    --Midnight-Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #fff;
    --Rapture-Bluer: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
}

.contianer {
    background-color: var(--Midnight-Green);
    padding: 0 165px;
}


/* --------------> header <--------------- */
.header {
    padding-top: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Midnight-Green);
}
.chek{
    display: none;
}


.menu {
    display: none;
}

.header-title {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header a {
    text-decoration: none;
    color: var(--White);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    transition: all .3s linear;
}

.header a:hover {
    color: var(--Rapture-Bluer);
}


.header .contact a {
    border: 2px solid var(--White);
    color: var(--White);
    padding: 9px 32px;
    border-radius: 24px;
    transition: all .3s linear;
}

.header .contact a:hover {
    background-color: var(--White);
    color: var(--Midnight-Green);
}


/* --------------> content <--------------- */
.content {
    padding-top: 129px;
    padding-bottom: 250px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    background-image: url(./images/contentBGLeft.svg), url(./images/contentBGRight.svg);
    background-repeat: no-repeat;
    background-position: 0 120px, 850px bottom;
    background-color: var(--Midnight-Green);
}


.content h1 {
    max-width: 700px;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    color: var(--White);
}

.content span {
    color: var(--Light-Coral);
}

.content-text {
    display: flex;
    align-items: end;
    position: relative;
}

.content-text::before {
    content: "";
    position: absolute;
    top: 0;

    transform: translateY(-50%);
    width: 50px;
    height: 4px;
    background-color: var(--Rapture-Bluer);
}

.content p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--White);
}


/* --------------> section top <--------------- */
.section-top {
    background-image: url(./images/sectionBGtop.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: var(--Sacramento-State-Green);
    padding: 140px;
}

.section-top .boxs {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 40px;
}

.section-top .boxs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--Light-Coral);
}

.section-top .box-build {
    margin-bottom: 32px;
}

.section-top .boxs-text {
    max-width: 700px;
}

.section-top .boxs h2 {
    font-size: 48px;
    color: #fff;
    line-height: 48px;
}

.section-top .box {
    display: flex;
    flex-direction: column;
}

.section-top .box-build {
    display: flex;
    gap: 23px;
}

.section-top .box-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-top h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--Light-Coral);
}

.section-top p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--White);
}

/* --------------> section <--------------- */
.section-bottom {
    background-image: url(./images/sectionBGShape.svg), url(./images/sectionBGBottom.svg);
    background-repeat: no-repeat;
    background-position: left top, bottom right;

}

.section-bottom .section-box {
    padding: 140px 0;
}

.section-bottom h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: var(--White);
}

.section-bottom span {
    color: var(--Rapture-Bluer);
}

.section-bottom .boxs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 65px;
    color: var(--White);
}

.section-bottom .box {
    background-image: url(./images/“.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 36px;
}

.section-bottom p {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.section-bottom h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--Rapture-Bluer);
    margin-top: 24px;
}

.section-bottom h4 {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    margin-top: 2px;
}

.section-bottom img {
    border-radius: 50%;
    border: 2px solid var(--White);
    margin-top: 52px;
}

.section-Block {
    background-color: var(--Light-Coral);
    padding: 95px 0;
    background-image: url(./images/blockBG.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 260px;
}

.section-Block h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: var(--Sacramento-State-Green);
}

.section-Block a {
    text-decoration: none;
    color: var(--Sacramento-State-Green);
    border: 2px solid;
    border-radius: 24px;
    padding: 9px 32px;
    transition: all .3s linear;
}

.section-Block a:hover {
    color: var(--White);
    background-color: var(--Sacramento-State-Green);
    border: var(--Sacramento-State-Green);

}

/* --------------> footer <--------------- */
.footer {
    background-color: var(--Dark-Green);
    padding: 56px 40px;
    display: flex;
    justify-content: space-between;
}

.footer .logo-info {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.footer .logo-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .logo-info a {
    color: var(--White);
    text-decoration: none;
    transition: all .3s linear;

}

.footer .page {
    display: flex;
    justify-content: space-between;
}

.footer .logo-info a:hover {
    color: var(--Rapture-Bluer);

}

.footer .logo-info p {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: var(--White);

}

.messenger-copyright {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: space-between;
    color: var(--White);
}

.footer .messenger {
    display: flex;
    gap: 16px;
}

/* --------------> media <--------------- */

@media (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header{
        padding: 60px;
    }

    .content {
        background-image: url(./images/contentBGRight.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        padding: 170px 60px;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 720px;
        padding: 0 90px;
        margin: auto;
    }


    .logo img {
        width: 128px;
        height: 32px;
    }

    .content {
        background-image: url(./images/contentBGRight.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 170px 60px;
    }

    .section-top {
        padding: 100px 60px;

    }

    .section-top .boxs {
        flex-direction: column;
        gap: 50px;
    }

    .section-bottom {
        padding: 60px 60px;
    }

    .section-bottom .boxs {
        flex-direction: column;
        width: 100%;
    }

    .section-Block {
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }

    .section-Block h3 {

        font-size: 40px;
        flex-direction: column;
    }

}

@media (min-width: 600px) and (max-width: 900px) {
    .container {
        max-width: 90px;
    }

    .header {
        padding: 70px 90px 0 90px;

    }

    .section-top .boxs {
        flex-direction: column;
        gap: 50px;
    }


    .logo img {
        width: 128px;
        height: 32px;
    }

    .content {
        background-image: url(./images/contentBGRight.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        padding: 170px 60px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .content-text::before {
        content: none;

    }

    .section-top {
        padding: 100px 90px;

    }

    .section-top .boxs {
        flex-direction: column;
        gap: 50px;
    }

    .section-bottom {
        padding: 60px 60px;
    }

    .section-bottom .boxs {
        flex-direction: column;
        width: 100%;
    }

    .section-Block {
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }

    .section-Block h3 {

        font-size: 40px;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        gap: 50px;
    }

    .messenger-copyright {
        display: flex;
        justify-content: space-between;
    }

}


@media(max-width: 700px) {
    .container {
        padding: 0, 30px;
    }
    .styled-checkbox {
        display: none;
    
    }
    
    .sekret {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        top: 0;
        z-index: 2;
        right: 0;
    }
    
    #checkbox:checked ~ .sekret {
        display: block;
        display: flex;
    }

    .secret-left{
        width: 30%;
        background-color: rgba(0, 37, 41, 0.7);
        filter: blur(4px);
    }

    
    
    .sekret-navbar {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0 48px;
        background-color: var(--Police-Blue);
        background-image: url(./images/secretBG.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }


    .sekret-navbar label{
        margin-bottom: 39px;
        text-align: end;
        display: flex;
        justify-content: end;
    }
    
    .sekret-navbar .contactpage{
        max-width: 140px;
        height: 40px;
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
         border: 2px solid var(--White)
    }

    .sekret-navbar .contactpage:hover{
       border-color: var(--Police-Blue);
       color: var(--Police-Blue);
       background: var(--White);
    }
    .sekret-navbar .homepage{
        margin-bottom: 24px;
    }
    
    .header {
        padding: 15px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .header-title{
        display: flex;
        align-items: center;
    }

    .content h1{
        font-size: 40px;
        line-height: 50px;
    }
    .content .content-text::before{
        content: none;
    }

    .navbar,
    .contact {
        display: none;
    }

    .menu {
        display: block;
    }

    .content {
        background-image: none;
        flex-direction: column;
        padding: 70px 70px;
        text-align: center;
    }

    .section-top {
        padding: 70px 70px;
        align-items: center;
        text-align: center;
        
        background-image: none;
    }

    .section-top .boxs {
        flex-direction: column;
        gap: 20px;
    }

    .section-top .boxs::before {
        content: none;
    }

    .section-top .boxs-text h2 {
        font-size: 40px;
        padding: 0;
        text-align: center;
    }


    .section-top .box-build {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .section-bottom {
        display: flex;
        flex-direction: column;
        background-image: none;
        padding: 40px;
    }


    .section-bottom h2 {
        font-size: 30px;
    }

    .section-bottom .boxs {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .section-Block {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 50px;
        background-image: none;
        padding: 40px;
    }


    .footer {
        flex-direction: column;
        text-align: center;
        text-align: center;
        gap: 30px;
    }

    .footer .page {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .footer .logo-info {
        flex-direction: column;
        gap: 30px;
    }

    .footer .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .messenger-copyright {
        gap: 20px;
    }

    .footer .messenger {
        justify-content: center;
    }
    .footer p{
        text-align: center;
    }

}